---
layout: page
title: Hi! I'm Margo!
subtitle: Marketing Specialist / Community Builder / Mountain Lover / Aspiring Python Developer
bigimg: /img/Yosemite.jpg
use-site-title: true
---
<div class="body">
<p>I’m Margo and I’m Marketing, Events and Community Specialist looking for new projects in Vancouver! 
  In October 2019 I’ve decided to move from London to Vancouver because I fell in love with its atmosphere, people and the views! </p>
<p>I enjoy spending time outdoors: hiking, cycling and skiing. My goal is to motivate others to spend more time in the wilderness! Check out my blog here where I document my adventures! </p>
<p>I love a Wes Anderson movie, use cooking as my meditation practice and throw stellar parties for my friends. I am passionate about traveling, meeting new people and learning new things.</p>
<p>In marketing and community what I love most is coming up with solutions and (physically) building them myself. I’ve always believed that.marketing doesn’t have to be about managing agencies and stakeholders, it can be so much more! I’ve decided to start learning to code in Python (because it’s the world’s easiest and most used language <Link> - check out my blog where I describe how it goes).
</p> 
  
  <a href="https://www.linkedin.com/feed/">
    <h4>Travel Blog</h4>
  </a>

  <a href="{{ post.url | relative_url }}">
      <h3>Coding Blog</h3>
    </a>

    <a href="https://www.linkedin.com/feed/">
      <h3>Let's connect</h3>
   </a>
</div>


<h2>Latest Blogs</h2>
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
